* {
    background-color: #170314;
    color: #FBE0F5;
    accent-color: #E5553F;
}
button {
    background-color: #93141E;
    align-items: center;
    font-size: 30px;
}
h1 {
    text-align: center;
}
ul, li {
    text-align: center;
}
table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
} 