* {
    background: #f03434;
    color: rgb(233, 74, 74);
    text-align: center;
    padding: 30px;
    font-size: 35px;
    font-family: "Freight Sans Bold", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}