* {
    background: #e69898;
    color: rgb(74, 114, 233);
    text-align: center;
    padding: 30px;
    font-size: 35px; 
    font-family: "Freight Sans Bold", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}