* {
    background: #edf0f5;
    color: rgb(237, 124, 124);
    text-align: center;
    padding: 5px;
    border-radius: 0%;
    border-width: 2px;
    border-color: #d2def1;
    font-family: "Freight Sans Bold", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}
button { background: #6d48ff; }
